.winbox {
  background: linear-gradient(90deg, #ff00f0, #0050ff);
  border-radius: 12px 12px 0 0;
  box-shadow: none;
}

.winbox.min {
  border-radius: 0;
}

.wb-body {
  /* set the width of window border via margin: */
  margin: 4px;
  color: #fff;
  background: #131820;
}

.wb-title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}